RewriteEngine On

php_value upload_max_filesize 64M
php_value post_max_size 64M
php_value max_input_time 180
php_value max_execution_time 180

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^admin/?$ admin.php [L,QSA,NC]
RewriteRule ^admin/courses/?$ admin-courses-page.php [L,QSA,NC]
RewriteRule ^admin/resources/?$ admin-resource-hub.php [L,QSA,NC]
RewriteRule ^admin/course/new/?$ admin-course-manage.php?new=1 [L,QSA,NC]
RewriteRule ^admin/course/([0-9]+)/(overview|resources|students|feedback)/?$ admin-course-manage.php?id=$1&tab=$2 [L,QSA,NC]
RewriteRule ^admin/course/([0-9]+)/?$ admin-course-manage.php?id=$1 [L,QSA,NC]
RewriteRule ^admin/resource/([0-9]+)/edit/?$ admin-resource-edit.php?id=$1 [L,QSA,NC]
RewriteRule ^admin/books/?$ admin-books-list.php [L,QSA,NC]
RewriteRule ^admin/books/create/?$ admin-book-edit.php?create=1 [L,QSA,NC]
RewriteRule ^admin/books/edit/([0-9]+)/?$ admin-book-edit.php?id=$1 [L,QSA,NC]
RewriteRule ^admin/orders/?$ admin-orders.php [L,QSA,NC]
RewriteRule ^admin/users/?$ admin-users.php [L,QSA,NC]
RewriteRule ^admin/analytics/?$ admin-analytics.php [L,QSA,NC]
RewriteRule ^admin/feedback/?$ admin-feedback.php [L,QSA,NC]
RewriteRule ^admin/forum/?$ admin-forum.php [L,QSA,NC]
RewriteRule ^admin/forum/thread/([0-9]+)/?$ admin-forum-thread.php?id=$1 [L,QSA,NC]
RewriteRule ^admin/settings/?$ admin-settings.php [L,QSA,NC]
RewriteRule ^book/([0-9]+)/?$ book.php?id=$1 [L,QSA,NC]
RewriteRule ^learn/([0-9]+)/?$ learn.php?id=$1 [L,QSA,NC]
